.certificate{
    background-color: $light;
    margin-bottom: 60px;
    img{
        height: 95;
        width: 95%;
    }
    .paragraph{
        font-weight: 400;
    }
    a{
        color: $white;
    }
}